* {
  box-sizing: border-box;
  margin    : 0;
  padding   : 0;
}

html {
  font-family: 'Manrope', sans-serif;
}

a {
  color          : #000;
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  margin   : 0 auto;
  max-width: 1440px;
  min-width: 320px;
  width: 100%;
}

.btn {
  cursor: pointer;
  color : #000;
  @include flex(center,center,row,inline-flex);

}

.btn-default {
  background: $base-color;
  box-shadow: 0px 67px 80px rgba(55, 52, 169, 0.07), 0px 43.4259px 46.8519px rgba(55, 52, 169, 0.0531481), 0px 25.8074px 25.4815px rgba(55, 52, 169, 0.0425185), 0px 13.4px 13px rgba(55, 52, 169, 0.035), 0px 5.45926px 6.51852px rgba(55, 52, 169, 0.0274815), 0px 1.24074px 3.14815px rgba(55, 52, 169, 0.0168519);
  border    : none;
  color     : #fff;
  cursor    : pointer;

}

.form-btn {
  background    : #FF7F5C;
  box-shadow    : 0px 67px 80px rgba(255, 127, 92, 0.07), 0px 43.4259px 46.8519px rgba(255, 127, 92, 0.0531481), 0px 25.8074px 25.4815px rgba(255, 127, 92, 0.0425185), 0px 13.4px 13px rgba(255, 127, 92, 0.035), 0px 5.45926px 6.51852px rgba(255, 127, 92, 0.0274815), 0px 1.24074px 3.14815px rgba(255, 127, 92, 0.0168519);
  border-radius : 5px;
  border        : none;
  color         : #fff;
  font-size     : 16px;
  height        : 60px;
  line-height   : 30px;
  outline       : none;
  text-transform: uppercase;
  width         : 100%;
  
}

.heading-default {
  color        : $base-color;
  font-weight  : 800;
  font-size    : 18px;
  line-height  : 25px;
  text-transform: uppercase;

}