.header {
  background-image   : url('../../assign/wave-header.png');
  background-position: center;
  background-repeat  : no-repeat;
  background-size    : contain;
  height             : 663px;
  width              : 100%;

  &-content {
    height: 100%;
    @include flex(space-between,flex-start);
    max-width: 1228px;
    margin   : 0 79px 0 133px;
    transition: all .25s ease-in-out;

    &-left {
      height: 100%;
      max-width  : 581px;
      padding-top: 161.5px;

      .content-left-title {
        font-weight   : 800;
        font-size     : 60px;
        height        : 240px;
        line-height   : 80px;
        letter-spacing: -0.03em;
        margin-bottom : 22px;
        width         : 100%;

      }
      .content-left-description {
        font-weight   : 400;
        font-size     : 20px;
        line-height   : 30px;
        letter-spacing: -0.02em;
        width         : 446px;

      }
      .content-left-buttons {
        @include flex(flex-start, center);
        margin-top: 26px;

        .btn-start {
          border-radius: 47px;
          font-weight  : 700;
          font-size    : 16px;
          height       : 60px;
          line-height  : 30px;
          margin-right : 50px;
          width        : 162px;

        }

        .group-btn-play {
          @include flex(flex-start,center);
          .btn-try{
            @include flex(center,center);
            background   : #22d497;
            border-radius: 50%;
            height       : 60px;
            margin-right : 11px;
            width        : 60px;

          }

          .btn-play-description {
            color      : $base-color;
            font-weight: 600;
            font-size  : 17px;
            line-height: 30px;

          }
        }
      }
    }

    &-right {
      height: 100%;
      padding-top: 65.5px;

    }
  }
  @media (max-width:1400px) {
    height: 500px;

    &-content {
      max-width: 100%;
      margin: 0 45px;

      &-left {
        padding-top: 100px;
        .content-left-title {
          font-size     : 50px;
          height        : fit-content;
          line-height   : 60px;
          letter-spacing: -0.03em;
          margin-bottom : 5px;

        }

        .content-left-description {
          font-size     : 15px;
          line-height   : 25px;
          letter-spacing: -0.02em;

        }

        .content-left-buttons {
          margin-top: 20px;

          .btn-start {
            border-radius: 30px;
            height       : 50px;
            line-height  : 30px;
            margin-right : 50px;
            width        : 132px;

          }

          .group-btn-play {
            .btn-try {
              height       : 50px;
              width        : 50px;

            }

            .btn-play-description {
              color      : $base-color;
              font-size  : 15px;

            }
          }
        }
      }
      &-right {
        height: 100%;
        padding-top: 0px;
        width: 100%;

        .header-img{
          height: 100%;
          object-fit: contain;
          width: 100%;

        }
      }
    }
  }
  @media (max-width: 948px) {
    &-content {
      margin: 0 auto;

    }
  }
  @media (max-width:756px) {
    height: fit-content;

    &-content {
      flex-direction: column;

      &-left {
        max-width: 100%;
        margin-bottom: 10px;
        padding-top: 0px;
        text-align: center;

        .content-left-title {
          font-size: 40px;

        }
        .content-left-description {
          margin: 0 auto;
          width: 70%;

        }
        .content-left-buttons {
          justify-content: center;
          .group-btn-play {
            .btn-play-description {
              color      : $base-color;
              font-size  : 12px;

            }
          }
        }
      }

      &-right {
        @include flex(center,center);
        .header-img{
          height: 80%;
          width: 80%;

        }
      }
    }
  }

  @media (max-width:356px) {
    &-content {
      &-left {
        .content-left-buttons {
          .btn-start {
            margin-right: 10px;
          }
        }
      }
    }
  }
}