.testimonails {
  @include flex(flex-start,center);
  margin : 64px 0 0;
  width  : 100%;
  padding: 0 150px 0px 133px;

  &-left {
    height      : 100%;
    margin-right: 75px;
    min-width   : 619px;
    width       : 619px;
    &-name {
      color         : $base-color;
      font-size     : 14px;
      line-height   : 19px;
      margin-bottom : 13px;
      text-transform: uppercase;
    }

    &-title {
      font-size     : 40px;
      line-height   : 48px;
      letter-spacing: -0.03em;
      margin-bottom : 40px;
      max-width     : 324px;

    }

    &-group-img {
      margin-bottom: 37px;
      position     : relative;
      .dot-icon {
        position: absolute;
        left    : -40px;
        top     : 20px;
        
      }
      
      .main-img {
        width     : 100%;
        height    : 100%;
        object-fit: contain;
      }

      .quote-icon {
        position : absolute;
        right    : -35px;
        top      : 50%;
        transform: translate(0,-50%);

      }
    }

    &-group-btn-slide {
      .btn-slide {
        border-radius: 50%;
        height       : 34px;
        margin-right : 11px;
        width        : 34px;
        
        &:last-child {
          background-color: #fff;
          margin-right    : 0;
        }
      }
    }
  }
  &-right {
    padding-top: 100px;
    height     : 100%;
    max-width  : 444px;
    
    &-title {
      font-size     : 20px;
      line-height   : 30px;
      letter-spacing: -0.03em;
      margin-top    : 16px;

    }
    &-description {
      color         : #757095;
      font-size     : 16px;
      line-height   : 24px;
      letter-spacing: -0.02em;
      margin-top    : 16px;


      &:last-child {
        margin-bottom: 16px;

      }

    }

    &-ceo {
      font-weight   : 800;
      font-size     : 16px;
      line-height   : 30px;
      letter-spacing: -0.03em;
      margin        : 5px 0px 1px 0px;

    }

    &-rule {
      font-weight   : 400;
      font-size     : 14px;
      line-height   : 24px;
      letter-spacing: -0.02em;

    }
  }

  @media (max-width:1400px) {
    padding: 0px 10px;
    justify-content: space-evenly;
    &-left {
      margin-right: 60px;
      min-width   : 50%;

    }

  }

  @media (max-width: 948px) {
    &-left {
      margin-right: 40px;

    }

    &-right {
      &-title {
        margin-top: 10px;
      }
      &-description {
        font-size: 13px;
      }
    }
  }

  @media (max-width:756px) {
    flex-direction: column;
    align-items: center;
    text-align    : center;
    &-left {
      margin: 0 auto;
      width: 80%;
      &-title {
        font-size    : 30px;
        margin-bottom: 20px;
        max-width    : 100%;

      }
    }

    &-right {
      padding-top: 50px;
    }
  }
}